.container
  %h1.center= image_tag 'logo-green.jpg', size: "504x49", alt: EasySettings.service_name + ' β版'

  %h2.card-panel このサービスについて

  .text-1
    %ul
      %li 　インターネット上の企業一覧サイトや企業ホームページから住所、電話番号などの企業情報をクロールして取得してくるWEBクローラサービス、WEBスクレイピングサービスです。
      %li 　お客様の営業先リストの作成や情報収集などにご活用ください。
      %li 　本サービスは世界一簡単で、使いやすいスクレイピングサービスを目指しています。現存の類似サービスは設定がややこしく、使い方が分かりにくいという短所があるかと思います。弊社のサービスは取得したい情報のURLを入力するだけで、自動的に欲しい情報を取得できるという簡単な操作性を追求しています。操作が誰でも使えて、非常に簡潔というメリットもある反面、コンピュータの自動判断で情報を取得するので、不要な情報があったり、必要な情報が取れないなど欠点もありますが、ユーザ様のニーズを満たせるサービスとなるように目指して参ります。
      %li 　また自動判断による取得だけでなく、詳細設定により細かな取得設定ももちろん可能です。この詳細設定を利用すれば、お好きなように必要な情報を取得できます。この設定を利用すれば、企業一覧サイトのみならず、ECサイトやニュースサイトなど、その他の情報サイトからの情報取得も可能です。
      %li 　もし利用する際にご不明点などございましたら、お問合せページからお気軽にご質問くださいませ。
      %br
      %li 　今後とも当サービスを末長く宜しくお願い申し上げます。
      %br
      %li.notice-msg 推奨ブラウザ: Google Chrome

  %h2.card-panel お知らせ
  #notice
    .notices-area.heigher.scroll
      - @notices.each do |notice|
        .card-panel.notice
          .subject= notice.subject
          .body
            - notice.body.split("\n").each do |str|
              = str
              %br
          .date.right_text= display_date(notice.opened_at)

  %h2#plan_information.card-panel 利用料金 β版
  .row
    %p.text-1
      以下の内容はβ版のものであり、本リリースに伴い、内容も料金も変更する可能性がございます。
      %br
      料金は全て税込です。
    .col.s3
      = render 'layouts/plan', { plan_name: 'β版無料プラン', plan: :free }
    / .col.s3
    /   = render 'layouts/plan', { plan_name: 'β版ライトプラン', plan: :beta_light }
    .col.s3
      = render 'layouts/plan', { plan_name: 'β版スタンダードプラン', plan: :beta_standard }
    .col.s3
      = render 'layouts/plan', { plan_name: 'β版ゴールドプラン', plan: :beta_gold }
    .col.s3
      = render 'layouts/plan', { plan_name: 'β版プラチナムプラン', plan: :beta_platinum }
    / .col.s3
    /   = render 'layouts/plan', { plan_name: 'β版ゴールドプラン', plan: :beta_gold }
    / / .col.s3
    / /   .plan-description.card-panel.with-title-band
    / /     .card-title-band β版プレミアムプラン
    / /     %p

  %h2#plan_information.card-panel プランによるサービス内容の違い β版
  .row
    .col.s12
      %table
        %tbldy
          %tr
            %th
            %th
            %th.center 非ログイン
            %th.center β版無料
            %th.center β版スタンダード
            %th.center β版ゴールド
            %th.center β版プラチナム
          %tr
            %td
          %tr
            %td{rowspan: 4}
              企業一覧サイトからの取得、
              %br
              企業HP情報の取得、
              %br
              合わせて
            %td.center 月間利用回数
            %td.center= "-"
            %td.center= "#{EasySettings.monthly_request_limit[:beta_free]}回/月"
            %td.center= "#{EasySettings.monthly_request_limit[:beta_standard]}回/月"
            %td.center= "#{EasySettings.monthly_request_limit[:beta_gold]}回/月"
            %td.center= "#{EasySettings.monthly_request_limit[:beta_platinum]}回/月"
          %tr
            %td.center ダウンロード可能件数
            %td.center= "#{EasySettings.excel_row_limit[:beta_public]}件/回"
            %td.center= "#{EasySettings.excel_row_limit[:beta_free].to_s(:delimited)}件/回"
            %td.center= "#{EasySettings.excel_row_limit[:beta_standard].to_s(:delimited)}件/回 (※1)"
            %td.center= "#{EasySettings.excel_row_limit[:beta_gold].to_s(:delimited)}件/回 (※1)"
            %td.center= "#{EasySettings.excel_row_limit[:beta_platinum].to_s(:delimited)}件/回 (※1)"
          %tr
            %td.center 待機リクエスト数制限
            %td.center= "-"
            %td.center= "#{EasySettings.waiting_requests_limit[:beta_free]}回"
            %td.center= "#{EasySettings.waiting_requests_limit[:beta_standard]}回"
            %td.center= "#{EasySettings.waiting_requests_limit[:beta_gold]}回"
            %td.center= "#{EasySettings.waiting_requests_limit[:beta_platinum]}回"
          %tr
            %td.center 月間取得可能件数
            %td.center= "-"
            %td.center= "#{EasySettings.monthly_acquisition_limit[:beta_free].to_s(:delimited)}件/月"
            %td.center= "#{EasySettings.monthly_acquisition_limit[:beta_standard].to_s(:delimited)}件/月"
            %td.center= "#{EasySettings.monthly_acquisition_limit[:beta_gold].to_s(:delimited)}件/月"
            %td.center= "#{EasySettings.monthly_acquisition_limit[:beta_platinum].to_s(:delimited)}件/月"
          %tr
            %td
          %tr
            %td{rowspan: 3} 企業一覧サイトからの取得
            %td.center クロールする最大のページ数
            %td.center= "#{EasySettings.corporate_list_search_page_limit[:beta_public]}ページ"
            %td.center= "#{EasySettings.corporate_list_search_page_limit[:beta_free]}ページ"
            %td.center= "#{EasySettings.corporate_list_search_page_limit[:beta_standard]}ページ"
            %td.center= "#{EasySettings.corporate_list_search_page_limit[:beta_gold]}ページ"
            %td.center= "#{EasySettings.corporate_list_search_page_limit[:beta_platinum].to_s(:delimited)}ページ"
          %tr
            %td.center 取得サポートの月間回数 (※2)
            %td.center= "×"
            %td.center= "#{EasySettings.simple_investigation_limit[:beta_free]}回/月"
            %td.center= "#{EasySettings.simple_investigation_limit[:beta_standard]}回/月"
            %td.center= "#{EasySettings.simple_investigation_limit[:beta_gold]}回/月"
            %td.center= "#{EasySettings.simple_investigation_limit[:beta_platinum].to_s(:delimited)}回/月"
          %tr
            %td.center 1ページ目の無制限取得
            %td.center= "×"
            %td.center= "×"
            %td.center= "○"
            %td.center= "○"
            %td.center= "○"
          %tr
            %td
          %tr
            %td{rowspan: 2} 企業HP情報の取得
            %td.center 作成URLリストのDL
            %td.center= "×"
            %td.center= "○"
            %td.center= "○"
            %td.center= "○"
            %td.center= "○"
          %tr
            %td.center
              企業DBからの検索
              %br
              資本金、従業員数、売上での絞り込み
            %td.center= "×"
            %td.center= "×"
            %td.center= "○"
            %td.center= "○"
            %td.center= "○"
    .col.s12.mt-4
      ※1 企業一覧サイトからの取得において、1ページ目の情報だけは無制限に取得します。(サイト構造によっては例外もあります。)
      %br
      ※2 基本設定で必要情報を取得できなかった場合に、簡易調査と設定を行い、取得できるようにサポートします。(取得保証はできませんが、可能性が向上します。)



  %h2#terms_of_service.card-panel β版のサービス利用規約
  .text-2
    %p
      この利用規約（以下、「本規約」といいます。）は、私ども(以下、「弊社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。以下の内容はβ版サービスのものであり、本リリースに伴い、規約内容を変更する可能性がございます。
    %p
      %h5 第1条（適用）
      %ol
        %li 本規約は、ユーザーと弊社との間の本サービスの利用に関わる一切の関係に適用されるものとします。
        %li 弊社は、本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。
        %li 本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。
    %p
      %h5 第2条（利用登録）
      %ol
        %li 本サービスにおいては、登録希望者が本規約に同意の上、弊社の定める方法によって利用登録を申請し、弊社がこれを承認することによって、利用登録が完了するものとします。
        %li
          弊社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。
          %ol
            %li 利用登録の申請に際して虚偽の事項を届け出た場合
            %li 本規約に違反したことがある者からの申請である場合
            %li その他、弊社が利用登録を相当でないと判断した場合
    %p
      %h5 第3条（ユーザーIDおよびパスワードの管理）
      %ol
        %li ユーザーは、自己の責任において、本サービスのユーザーIDおよびパスワードを適切に管理するものとします。
        %li ユーザーは、いかなる場合にも、ユーザーIDおよびパスワードを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。弊社は、ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのユーザーIDを登録しているユーザー自身による利用とみなします。
        %li ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は、弊社は一切の責任を負わないものとします。
    %p
      %h5 第4条（利用料金および支払方法、返金）
      %ol
        %li ユーザーは、本サービスの有料部分の対価として、弊社が別途定め、本ウェブサイトに表示する利用料金を、弊社が指定する方法により支払うものとします。
        %li ユーザーが利用料金の支払を遅滞した場合には、ユーザーは年10.0％の割合による遅延損害金を支払うものとします。
        %li 中途解約による返金は承っておりません。銀行振込、かつ、複数月でのお申し込みの場合のみ、来月課金分が開始される10日前までにお申し出があれば、来月以降の課金分を返金いたします。その場合は、違約金として、1,100円(税込)を差し引いた金額を返金致します。
    %p
      %h5 第5条（禁止事項）
      ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。

      %ol
        %li 法令または公序良俗に違反する行為
        %li 犯罪行為に関連する行為
        %li 本サービスの内容等、本サービスに含まれる著作権、商標権ほか知的財産権を侵害する行為
        %li 弊社、ほかのユーザー、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為
        %li 本サービスによって得られた情報を商業的に利用する行為
        %li 弊社のサービスの運営を妨害するおそれのある行為
        %li 不正アクセスをし、またはこれを試みる行為
        %li 他のユーザーに関する個人情報等を収集または蓄積する行為
        %li 不正な目的を持って本サービスを利用する行為
        %li 本サービスの他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為
        %li 他のユーザーに成りすます行為
        %li 弊社が許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
        %li 面識のない異性との出会いを目的とした行為
        %li 弊社のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為
        %li その他、弊社が不適切と判断する行為
    %p
      %h5 第6条（本サービスの提供の停止等）
      %ol
        %li
          弊社は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
          %ol
            %li 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合
            %li 地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合
            %li コンピュータまたは通信回線等が事故により停止した場合
            %li その他、弊社が本サービスの提供が困難と判断した場合
        %li 弊社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。
    %p
      %h5 第7条（利用制限および登録抹消）
      %ol
        %li
          弊社は、ユーザーが以下のいずれかに該当する場合には、事前の通知なく、ユーザーに対して、本サービスの全部もしくは一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。
          %ol
            %li 本規約のいずれかの条項に違反した場合
            %li 登録事項に虚偽の事実があることが判明した場合
            %li 料金等の支払債務の不履行があった場合
            %li 弊社からの連絡に対し、一定期間返答がない場合
            %li 本サービスについて、最終の利用から一定期間利用がない場合
            %li その他、弊社が本サービスの利用を適当でないと判断した場合
        %li 弊社は、本条に基づき弊社が行った行為によりユーザーに生じた損害について、一切の責任を負いません。
    %p
      %h5 第8条（退会）
      ユーザーは、弊社の定める退会手続により、本サービスから退会できるものとします。

    %p
      %h5 第9条（保証の否認および免責事項）
      %ol
        %li 弊社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
        %li 弊社は、本サービスがあらゆるサイトから情報を取得できることを保証しておりません。また、取得できたとしても、その取得した情報が正確であることを保証致しません。
        %li 弊社は、本サービスによって取得した情報をユーザが利用したことによって発生した問題や損害について一切の責任を負いません。
        %li 弊社は、本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する弊社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。
        %li 前項ただし書に定める場合であっても、弊社は、弊社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（弊社またはユーザーが損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、弊社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は、ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。
        %li 弊社は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。
    %p
      %h5 第10条（サービス内容の変更等）
      弊社は、ユーザーに通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。

    %p
      %h5 第11条（利用規約の変更）
      弊社は、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお、本規約の変更後、本サービスの利用を開始した場合には、当該ユーザーは変更後の規約に同意したものとみなします。

    %p
      %h5 第12条（個人情報の取扱い）
      弊社は、本サービスの利用によって取得する個人情報については、弊社「プライバシーポリシー」に従い適切に取り扱うものとします。

    %p
      %h5 第13条（通知または連絡）
      ユーザーと弊社との間の通知または連絡は、弊社の定める方法によって行うものとします。弊社はユーザーから弊社が別途定める方式に従った変更届け出がない限り現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行いこれらは発信時にユーザーへ到達したものとみなします。

    %p
      %h5 第14条（権利義務の譲渡の禁止）
      ユーザーは、弊社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。

    %p
      %h5 第15条（準拠法・裁判管轄）
      %ol
        %li 本規約の解釈にあたっては、日本法を準拠法とします。
        %li 本サービスに関して紛争が生じた場合には、弊社の事務所所在地を管轄する裁判所を専属的合意管轄とします。

    %p.right 以上
    %br
    %br

  %h2.card-panel プライバシーポリシー
  .text-2

    %p
      私ども（以下、「弊社」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。

    %p
      %h5 第1条（個人情報）
      「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。

    %p
      %h5 第2条（個人情報の収集方法）
      弊社は、ユーザーが利用登録をする際に氏名、生年月日、住所、電話番号、メールアドレス、銀行口座番号、クレジットカード番号、運転免許証番号などの個人情報をお尋ねすることがあります。また、ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を、弊社の提携先（情報提供元、広告主、広告配信先などを含みます。以下、｢提携先｣といいます。）などから収集することがあります。

    %p
      %h5 第3条（個人情報を収集・利用する目的）
      弊社が個人情報を収集・利用する目的は、以下のとおりです。

      %ol
        %li 弊社サービスの提供・運営のため
        %li ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）
        %li ユーザーが利用中のサービスの新機能、更新情報、キャンペーン等及び弊社が提供する他のサービスの案内のメールを送付するため
        %li メンテナンス、重要なお知らせなど必要に応じたご連絡のため
        %li 利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため
        %li ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため
        %li 有料サービスにおいて、ユーザーに利用料金を請求するため
        %li 上記の利用目的に付随する目的
    %p
      %h5 第4条（利用目的の変更）
      %ol
        %li 弊社は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。
        %li 利用目的の変更を行った場合には、変更後の目的について、弊社所定の方法により、ユーザーに通知し、または本ウェブサイト上に公表するものとします。
    %p
      %h5 第5条（個人情報の第三者提供）
      %ol
        %li
          弊社は、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。
          %ol
            %li 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
            %li 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
            %li 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
            %li 予め次の事項を告知あるいは公表し、かつ弊社が個人情報保護委員会に届出をしたとき
            %ol
              %li 利用目的に第三者への提供を含むこと
              %li 第三者に提供されるデータの項目
              %li 第三者への提供の手段または方法
              %li 本人の求めに応じて個人情報の第三者への提供を停止すること
              %li 本人の求めを受け付ける方法
        %li
          前項の定めにかかわらず、次に掲げる場合には、当該情報の提供先は第三者に該当しないものとします。
          %ol
            %li 弊社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
            %li 合併その他の事由による事業の承継に伴って個人情報が提供される場合
            %li 個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いた場合
    %p
      %h5 第6条（個人情報の開示）
      %ol
        %li
          弊社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。なお、個人情報の開示に際しては、1件あたり1,000円の手数料を申し受けます。
          %ol
            %li 本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
            %li 弊社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
            %li その他法令に違反することとなる場合
        %li 前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。
    %p
      %h5 第7条（個人情報の訂正および削除）
      %ol
        %li ユーザーは、弊社の保有する自己の個人情報が誤った情報である場合には、弊社が定める手続きにより、弊社に対して個人情報の訂正、追加または削除（以下、「訂正等」といいます。）を請求することができます。
        %li 弊社は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正等を行うものとします。
        %li 弊社は、前項の規定に基づき訂正等を行った場合、または訂正等を行わない旨の決定をしたときは遅滞なく、これをユーザーに通知します。
    %p
      %h5 第8条（個人情報の利用停止等）
      %ol
        %li 弊社は、本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行います。
        %li 前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の利用停止等を行います。
        %li 弊社は、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なく、これをユーザーに通知します。
        %li 前2項にかかわらず、利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じるものとします。
    %p
      %h5 第9条（プライバシーポリシーの変更）
      %ol
        %li 本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。
        %li 弊社が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。
    %p
      %h5 第10条（お問い合わせ窓口）
      本ポリシーに関するお問い合わせは、下記のリンク先のフォームからお願いいたします。

      %p= link_to 'お問い合わせ窓口', '/inquiry'

    %p.right 以上
    %br
    %br

  %h2#specified-commercial-transaction-act.card-panel 特定商取引法に基づく表記
  .text-2
    = link_to '特定商取引法に基づく表記', '/information/specified_commercial_transaction_act', rel: 'nofollow'
    %br
    %br
    %br
    %br
