#{@name} 様
\
\
いつもご利用ありがとうございます。
#{@service}です。
\
お問い合わせを受け付けました。
\
回答には２、３営業日かかることがございます。
\
\
質問者名: #{@name}
\
メールアドレス: #{@mail}
\
質問番号: #{@inquiry_id}
\
問い合わせ内容:
\
= @bodies.join("\n")
\
\
※このメールに対する返信は受け付けておりません。
\
#{@service}
