ご利用者様
%br
いつもご利用ありがとうございます。
#{@service}です。
%br
以下のURLの簡易調査と簡易設定の依頼を受け付けました。
%br
= "リクエスト名: #{@title}"
= "調査対象URL: #{@url}"
%br
%ul{type: 'disc'}
  %li 調査の結果はこちらのメールアドレスにご連絡致します。３営業日経っても連絡がない場合は、お手数ですがお問合せください。
  %li 弊社から調査依頼の内容に関して、質問をさせて頂くことがございます。その場合もこちらのメールアドレスにご連絡致します。
  %li 調査した結果、取得できないという結果になることもございますので、ご了承くださいませ。その場合も利用回数は消費致します。
%br
%br
#{@service}
