- if @user.family_name.present?
  #{@user.family_name} 様
- else
  #{@user.email} 様
\
いつもご利用ありがとうございます。
#{@service}です。
\
クレジットカード情報を更新致しました。
\
\
カードブランド: #{@card_info[:brand]}
カード番号下４桁: #{@card_info[:last4]}
\
\
もしも、身に覚えのない変更の場合は、以下のお問合せフォームよりご連絡くださいませ。
#{@url}
\
今後とも#{@service}を何卒、宜しくお願い申し上げます。
\
※このメールに対する返信は受け付けておりません。
\
#{@service}
