ご利用者様
= "\n"
いつもご利用ありがとうございます。
#{@service}です。
= "\n"
リクエストを受け付けました。
= "\n"
= "リクエスト名: #{@title}"
= "リクエスト日時: #{@created_at}"
= "\n"
結果は以下の確認ページから確認して下さい。
= @url
= "\n"
※このメールに対する返信は受け付けておりません。
= "\n"
#{@service}
