簡易調査の依頼が届きました。
%br
%br
= "ユーザID: #{@user.id}"
%br
= "ユーザメール: #{@user.email}"
%br
= "ユーザ会社: #{@user.company_name}"
%br
%br
%br
= "調査URL: #{@url}"
%br
= "リクエストID: #{@request.id}"
%br
= "リクエストタイトル: #{@request.title}"
%br
%br
%br
%p ※このメールに対する返信は受け付けておりません。
%br
#{@service}