ご利用者様
= "\n"
いつもご利用ありがとうございます。
#{@service}です。
= "\n"
リクエストが完了しました。
= "\n"
= "リクエスト名: #{@title}"
= "受付ID: #{@accept_id}"
= "リクエスト日時: #{@created_at}"
= "\n"
以下の確認ページから、結果を確認して下さい
受付IDは結果を確認する際に必要です。
= @url
= "\n"
※このメールに対する返信は受け付けておりません。
= "\n"
#{@service}
