<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if accessible_action?(page.resource, :edit) %>

    <%= link_to(
      t("administrate.actions.destroy"),
      [namespace, page.resource],
      class: "button button--danger",
      method: :delete,
      data: { confirm: t("administrate.actions.confirm") }
    ) if accessible_action?(page.resource, :destroy) %>
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: page.resource.class.human_attribute_name(attribute.name),
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute, page: page %></dd>
    <% end %>
  </dl>
</section>

<section class="main-content__body">
  <h2>別のユーザのものとしてコピー</h3>
  <%= form_with url: copy_admin_request_path(page.resource.id), method: :post, local: true do |f| %>
    ユーザID
    <%= f.text_field :user_id %>
    <%= f.submit 'コピーする' %>
  <% end %>
</section>

<section class="main-content__body">
  <h2>解析結果の編集</h3>
  <%= form_with url: list_site_analysis_result_admin_request_path(page.resource.id), method: :put, local: true do |f| %>
    <%= f.text_area :analysis_result, size: '90x50', value: page.resource.list_site_analysis_result&.gsub(',', ",\n")&.gsub(':{"', ":\n{\"")&.gsub(':["', ":\n[\"") %>
    <%= f.submit '更新する' %>
  <% end %>
</section>
