%p
  = t('hello', email: @resource.email)
%p= t('someone_request_change_password')
%p= link_to t('change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('if_you_didnot_request')
%p= t('your_password_willnot_change')
%br
%p ※このメールに対する返信は受け付けておりません。
%br
%p= EasySettings.service_name